<div class="offcanvas offcanvas-bottom" tabindex="-1" id="createProject" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header style-1">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">Add Note</h5>
        <span class="icon-close2 icon-close-popup" data-bs-dismiss="offcanvas" aria-label="Close"></span>
    </div>
    <div class="offcanvas-body pb-32">
        <form action="{% url 'App_Task:add_note' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" name="title" class="form-control" placeholder="Note Title" required>
            </div>
            <div class="mb-3">
                <textarea name="description" class="form-control" rows="3" placeholder="Description"></textarea>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary w-100">Add Note</button>
            </div>
        </form>
    </div>
</div>