{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, viewport-fit=cover">
    <!-- font -->
    <link rel="stylesheet" href="{% static 'assets/fonts/fonts.css' %}">
    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'assets/fonts/font-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet"type="text/css" href="{% static 'assets/css/nouislider.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet"type="text/css" href="{% static 'assets/css/styles.css' %}"/>
    <!-- manifest json -->
    <link rel="manifest" href="{% static 'assets/_manifest.json' %}" data-pwa-version="set_in_manifest_and_pwa_js">
    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="{% static 'assets/images/logo/168.png' %}" />
    <link rel="apple-touch-icon-precomposed" href="{% static 'assets/images/logo/168.png' %}" />

    <title>Home</title>
</head>

<body>
    <!-- preloade Start -->
    <div class="preload preload-container">
        <div class="logo-img">
            <img src="{% static 'assets/images/logo/logo-2.png' %}" alt="logo">
        </div>
        <div class="spinner-circle lg success">
            <span class="spinner-circle1 spinner-child"></span>
            <span class="spinner-circle2 spinner-child"></span>
            <span class="spinner-circle3 spinner-child"></span>
            <span class="spinner-circle4 spinner-child"></span>
            <span class="spinner-circle5 spinner-child"></span>
            <span class="spinner-circle6 spinner-child"></span>
            <span class="spinner-circle7 spinner-child"></span>
            <span class="spinner-circle8 spinner-child"></span>
            <span class="spinner-circle9 spinner-child"></span>
        </div>
    </div>
    <!-- /preload End -->

    <!-- Header Start -->
    {% include 'layouts/header.html' %}
    <!-- Header End -->
    
    <!-- Home Start -->
    <div class="">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Home End -->

    <!-- Footer Start -->
    {% include 'layouts/footer.html' %}
    <!-- Footer End -->




    <!-- sidebar Start -->
    {% include 'layouts/sidebar.html' %}
    <!-- sidebar End -->
    

        
    <script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/multiple-modal.js' %}"></script>



</body>
</html>